.body {
    height: 70vh;             
    width: 90vw;                 
    
    background-image: url("/vanilla.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    font-family: sans-serif;
    color: #131313;
  }


.title {
  color: #181817;
  font-size: 3rem;
  margin-bottom: 10px;
}

.description {
  color: #1a1a1a;
  font-size: 1.3rem;
  max-width: 600px;
}

