/* LAYOUT GLOBAL */
.etape-layout {
  display: grid;
  grid-template-columns: 80px 1fr 40%;
  gap: 60px;
  padding: 150px 10%;
  position: relative;
}

/* SCROLL PANEL */
.etape-progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: sticky;
  top: 40%;
}

.etape-progress .dot {
  width: 10px;
  height: 10px;
  background: #bbb;
  border-radius: 50%;
}

.etape-progress .dot.active {
  background: #000;
}

/* TEXTE */
.etape-content {
  display: flex;
  flex-direction: column;
  gap: 200px;
}

.natural-step {
  min-height: 80vh;
}

/* IMAGE FIXE */
.etape-image {
  position: sticky;
  top: 20%;
  height: 400px;
}

.etape-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
}